<!-- 第一个模块 slider -->


<div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >
  <!-- 幻灯片指示器 -->
  <ol class="carousel-indicators">
      <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
      <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
      <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
      <li data-target="#bootstrap-touch-slider" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper For Slides -->
  <div class="carousel-inner" role="listbox">
      <!-- 第一个幻灯片 -->
      <div class="item active">
          <div class="slide-1"></div>
          <div class="bs-slider-overlay"></div>
          <div class="slide-text slide_style_center">
              <h1 data-animation="animated zoomInRight">重新定义工作效率</h1>
              <p data-animation="animated fadeInLeft">用科学的方法打造舒适|安静|规整的高效创作空间</p>
              <!-- <a href="/products" target="_blank" class="btn btn-primary btn-head btn-round" data-animation="animated fadeInRight">查看商品</a> -->
          </div>
      </div>
      <!-- End of Slide -->

      <!-- 第二个幻灯片 -->
      <div class="item">

          <!-- Slide Background -->
          <div class="slide-2"></div>
          <div class="bs-slider-overlay"></div>
          <!-- Slide Text Layer -->
          <div class="slide-text slide_style_center">
              <h1 data-animation="animated zoomInRight">你需要良好的坐姿</h1>
              <p data-animation="animated fadeInLeft">良好的姿势能带来减轻长期伏案带来的亚健康</p>
              <a href="/products?category=舒适的坐姿" target="_blank"  class="btn btn-primary btn-head btn-round" data-animation="animated fadeInRight">查看商品</a>
          </div>
      </div>
      <!-- End of Slide -->

      <!-- 第三个幻灯片-->
      <div class="item">

          <!-- Slide Background -->
          <div class="slide-3"></div>
          <div class="bs-slider-overlay"></div>
          <!-- Slide Text Layer -->
          <div class="slide-text slide_style_center">
                    <h1 data-animation="animated zoomInRight">你需要宜人的环境</h1>
                    <p data-animation="animated fadeInLeft">宜人的工作环境能让人长时间保持专注</p>
                    <a href="/products?category=宜人的环境" target="_blank"  class="btn btn-primary btn-head btn-round" data-animation="animated fadeInRight">查看商品</a>
          </div>
      </div>
      <!-- End of Slide -->

      <!-- 第四个幻灯片-->
      <div class="item">

          <!-- Slide Background -->
          <div class="slide-4"></div>
          <div class="bs-slider-overlay"></div>
          <!-- Slide Text Layer -->
          <div class="slide-text slide_style_center">
                      <h1 data-animation="animated zoomInRight">你需要规整的空间</h1>
                      <p data-animation="animated fadeInLeft">宜人的工作环境能让人长时间保持专注</p>
                      <a href="/products?category=规整的空间" target="_blank"  class="btn btn-primary btn-head btn-round" data-animation="animated fadeInRight">查看商品</a>
            </div>
      </div>
      <!-- End of Slide -->
    </div><!-- End of Wrapper For Slides -->

  <!-- Left Control -->
  <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
      <span class="fa fa-angle-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>

  <!-- Right Control -->
  <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
      <span class="fa fa-angle-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>



<!-- 第二个模块 intro-->
<div class="intro sp-1">
  <div class="col-md-6 col-md-offset-3 text-center">
      <h2>你知道你的工作空间有多糟糕吗？</h2>
      <p class="text">  现代社会，我们每天大部分的时间都会坐在电脑桌前，至少有1/3的时间都需要在这个小空间里度过。所以工作空间是否能满足人体生理需求，对我们能否有高效的工作效率、健康的身体都起着至关重要的作用。但你一定不知道你现在的工作空间有多糟糕！  </p>
  </div>
</div>

<!-- 第三个模块 problems-->
<div class="problems sp-1">
       <!-- Nav tabs -->
     <div class="tabs">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#1" data-toggle="tab" aria-expanded="true">错误的坐姿</a></li>
        <li class=""><a href="#2" data-toggle="tab" aria-expanded="false">伤人的灯光</a></li>
        <li class=""><a href="#3" data-toggle="tab" aria-expanded="false">恼人的空间</a></li>
      </ul>
        <!-- Tab panes -->
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="1">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-md-offset-1 ">
                <div class="description left">
                  <h2> 错误的坐姿 </h2>
                  <p>
                    我们每天长时间坐着，但很少有人知道，长期错误的姿势，不光会让我们不舒服，还会带来各种各样的疾病，可谓坐不好活不好。那不正确的姿势是怎样影响着我们的呢？
                  </p>
                  <a class="btn btn-primary btn-normal btn-round"href="https://v.qq.com/x/page/i0510v8eyls.html" target="_blank" >
                    <i class="fa fa-play"> </i>
                     观看影片
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="image img-1"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-md-offset-2 col-md-push-4">
                <div class="description right">
                  <h2> 正确的坐姿能让人精神百倍 </h2>
                  <p>
                    良好的坐姿，需要符合人体工程要求的桌椅和支架。它们能让我们的脊柱保持自然直立，这将会让我们获得持久的舒适。调节好你的桌椅、支架，即算是坐上一天也能精神满满！
                  </p>
                  <a class="btn btn-primary btn-normal btn-round"href="/products?category=舒适的坐姿" target="_blank" >
                     查看相关商品
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-md-pull-6">
                <div class="image img-2"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="2">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-md-offset-1">
                <div class="description left">
                  <h2> 伤人的灯光 </h2>
                  <p>
                    灯光这个看似平常的东西，却对人体起着至关重要的作用。人类一天的作息都与灯光关系密切，亮光下人会受到更多刺激从而清醒，但不一定长期清醒是件好事，那怎样的灯光才是适宜的呢？
                  </p>
                  <a class="btn btn-primary btn-normal btn-round"href="https://v.qq.com/x/page/s05100lc9wl.html" target="_blank" >
                    <i class="fa fa-play"> </i>
                     观看影片
                  </a>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="image img-3"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-md-offset-2 col-md-push-4">
                <div class="description right">
                  <h2> 宜人的灯光让人舒适自在 </h2>
                  <p>
                    灯光的强弱、不同的色温都有着不同的作用，良好的灯光应该随着工作需求而变化；另外，要让大脑保持长时间舒适还少不了空气的帮助，而科学的植物搭配能让大脑吸饱氧气。
                  </p>
                  <a class="btn btn-primary btn-normal btn-round"href="/products?category=宜人的环境" target="_blank" >
                     查看相关商品
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-md-pull-6">
                <div class="image img-4"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="3">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-md-offset-1">
                <div class="description left">
                  <h2> 恼人的空间 </h2>
                  <p>
                    杂乱无章的工作空间，不仅是视觉上的灾难，而且会严重影响工作效率，要的东西找不到，重要的东西容易丢，这都是拖慢工作进度的“小事情”。
                  </p>
                  <a class="btn btn-primary btn-normal btn-round"href="https://v.qq.com/x/page/n05106gnk0s.html" target="_blank" >
                    <i class="fa fa-play"> </i>
                     观看影片
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="image img-5"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-md-offset-2 col-md-push-4">
                <div class="description right">
                  <h2> 整理空间整理思维 </h2>
                  <p>
                    整理空间需要发挥人的诸多智慧，让杂乱繁多的东西变得规整而精简，这都需要动用人的管理、规划技巧，而习得这些技巧不光能提高工作效率，而对自己的思维乃至人生都有帮助。
                  </p>
                  <a class="btn btn-primary btn-normal btn-round"href="/products?category=规整的空间" target="_blank" >
                     查看相关商品
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-md-pull-6">
                <div class="image img-6"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- 第四个模块 service-->
<div class="service bg-color3 sp-1" style="text-align:center;" >
    <div class="col-md-8 col-md-offset-2">
        <h2>为什么选我们？</h2>
        <div class="col-md-4" style="text-align:center;">
          <%= image_tag 'pic-1.svg', class: 'img-sqr' %>
          <h3>最爽的科学指导</h3>
          <p class="text">在这里，我们将以最直观的方式告诉你什么是高效的空间，包括如何调整坐姿、调节光源、整理空间，让你找到当今最科学合理的方式。</p>
        </div>
        <div class="col-md-4" style="text-align:center;">
          <%= image_tag 'pic-2.svg', class: 'img-sqr' %>
          <h3>最 in 的品质保障</h3>
          <p class="text">在这里，我们已经精心挑选了来自全球各地的经典产品，我们与厂家直接合作，从你看到它到使用它，我们都将提供最硬最便捷的服务。</p>
        </div>
        <div class="col-md-4" style="text-align:center;">
          <%= image_tag 'pic-3.svg', class: 'img-sqr' %>
          <h3>最少的时间成本</h3>
          <p class="text">在这里，我们已经帮你收集了打造高效空间的必要最少知识，以及相对合理的产品，时间就是金钱，我们能为你省下的会更多。</p>
        </div>
    </div>
</div>


<!-- 第五个模版 recommend-->

<div class="recommend sp-1" style="text-align:center;">
  <h2>他们说</h2>
  <div class="col-md-3 col-md-offset-3" style="text-align:center;">
    <%= image_tag 'xdite.jpg', class: 'img-circle'%>
    <h3>Xdite</h3>
    <p class="text">总是分分钟宕机？一把好椅子、一把好键盘就能让你满血复活并长时间战斗！所以，打造良好的工作空间相当重要！</p>
  </div>
  <div class="col-md-3" style="text-align:center;">
    <%= image_tag 'lixiaolai.jpg', class: 'img-circle'%>
    <h3>李笑来</h3>
    <p class="text">你的全部注意力需要花费在你的成长上，花钱买专业的东西，节省了注意力，还获得了长期高效回报，你就偷着乐吧！</p>
  </div>
</div>



<!-- 第六个模块 endpic-->
<div class="endpic" style="text-align:center;">
  <p class="slogan"> 成长从好的空间开始 </p>
  <a href="/products" class="btn btn-primary btn-normal btn-round btn-space" data-animation="animated fadeInRight">开始打造</a>
</div>
