<div class="container">

  <div class="cart-title sp-5 sp-6">
  <h2 class="pull-left nomargin"> 我的购物车 </h2>
</br>
</br>
    <i class="fa fa-trash"> </i>
    <%= link_to("清空购物车", clean_carts_path ,
            method: :delete ,
            style: "text-decoration: none",
            data: { confirm: "你确定要清空整个购物车吗？"} )%>
  </div>

  <!-- 购物车列表 -->

  <div class="cart_items col-md-9">

      <table class="table table-striped">

        <tbody>

          <% current_cart.cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= link_to product_path(cart_item.product) do %>
                  <% if cart_item.product.image.present? %>
                    <%= image_tag(cart_item.product.image.thumb.url, class: "img-sx") %>
                  <% else %>
                    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "img-sx") %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
              </td>
              <td>
                ￥<%= cart_item.product.price %>
              </td>
              <td>
                <%= form_for cart_item, url: cart_item_path(cart_item.product_id) do |f| %>
                <%= f.select :quantity, 1..cart_item.product.quantity %>
                <%= f.submit "更新", data: { disable_with: "更新中" } , class: "btn-xs btn-default"%>
              <% end %>
              </td>
              <td>
                <!-- <%= link_to cart_item_path(cart_item.product_id), method: :delete do %> -->
                <!-- <i class="fa fa-trash"></i> -->
                  <%= link_to("删除", cart_item_path(cart_item.product_id),
                              :method => :delete, :data => { :confirm => "确定不要这个商品了吗？" },
                              style: "text-decoration: none;",
                              :class => "btn-sm btn-danger") %>
                <!-- <% end %> -->
              </td>
            </tr>
          <% end %>

        </tbody>
      </table>


  </div>

  <!-- 总计 -->

  <div class="total clearfix col-md-3 ">
       <span>
         <h3 >总计</h3>
          <hr>
         <h4>总共 <%= render_quantity(current_cart) %> 件商品</h4>
       </br>
          <h4> 总计 <%= render_cart_total_price(current_cart) %> RMB</h4>
       </span>
    <hr>
    <%= link_to("确认购买", checkout_carts_path, method: :post, class: "btn btn-normal btn-primary btn-round") %>
  </div>
</div>
