
  <div class="products-search col-lg-3  col-md-3 col-sm-4 col-xs-6 products sp-4 sp-5">


  <!-- 产品页路径 -->
     <!-- <ol class="breadcrumb">
       <li><a href="/products">全部商品</a></li>
       <li class="active"><a herf=""></a></li>
     </ol> -->

  <!-- 产品列表 -->
      <div class="product-grid">
       <%= link_to product_path(product) do %>
         <% if product.image.present? %>
           <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
         <% else %>
           <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
         <% end %>
       <% end %>
        <p class="title nomargin">
          <%= product.title %>
        </p>
        <p class="price">
          ￥ <%= product.price %>
        </p>

      </div>

  </div>
