<!-- 模块一 分类导航 -->

  <div class="text-center product-nav">
      <ul class="nav nav-pills">
        <li class="text"><a href='/products'>全部商品</a></li>
        <% Category.all.each do |category| %>
        <li class="text"><%= link_to category.name, products_path(category: category.name), class: "link" %></li>
        <% end %>
      </ul>
  </div>


<!-- 模块二 产品列表 -->


 <div class=" col-lg-8 col-lg-offset-2 col-md-12  products sp-2 sp-1">

  <!-- 产品页路径 -->
     <!-- <ol class="breadcrumb">
       <li><a href="/products">全部商品</a></li>
       <li class="active"><a herf=""></a></li>
     </ol> -->

  <!-- 产品列表 -->
  <!-- <div class="col-md-12 product-list center-block"> -->
    <% @products.each do |product| %>
      <div class=" product-grid col-lg-3  col-md-3 col-sm-4 col-xs-6">
        <%= link_to product_path(product) do %>
          <% if product.image.present? %>
            <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No-Picture", class: "thumbnail") %>
          <% end %>
        <% end %>
        <p class="title nomargin">
          <%= product.title %>
        </p>
        <p class="price">
          ￥ <%= product.price %>
        </p>
      </div>
    <% end %>
  <!-- </div> -->
  <!-- 分页器 -->

    <div class="col-xs-12 text-center pagination nomargin">
      <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
    </div>

</div>

<!-- 模块三 科学指导 -->
<div class="container-fluid col-lg-12 col-md-12 col-sm-12 col-xs-12 tips sp-1 bg-color3">
  <h2>不知道怎么选？科学的指导在这里！</h2>
      <div class="row">
        <div class="col-md-4 col-md-offset-2 ">
          <div class="description left">
            <h2> 错误的坐姿 </h2>
            <p>
              我们每天长时间坐着，但很少有人知道，长期错误的姿势，不光会让我们不舒服，还会带来各种各样的疾病，可谓坐不好活不好。那不正确的姿势是怎样影响着我们的呢？
            </p>
            <a class="btn btn-primary btn-normal btn-round"href="https://v.qq.com/x/page/i0510v8eyls.html" target="_blank" >
              <i class="fa fa-play"> </i>
               观看影片
            </a>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="image img-1"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2 ">
          <div class="image img-2"></div>
        </div>
        <div class="col-md-4 ">
          <div class="description right">
            <h2> 正确的坐姿能让人精神百倍 </h2>
            <p>
              良好的坐姿，需要符合人体工程要求的桌椅和支架。它们能让我们的脊柱保持自然直立，这将会让我们获得持久的舒适。调节好你的桌椅、支架，即算是坐上一天也能精神满满！
            </p>
            <a class="btn btn-primary btn-normal btn-round"href="/products" target="_blank" >
               查看相关商品
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2 ">
          <div class="description left">
            <h2> 伤人的灯光 </h2>
            <p>
              灯光这个看似平常的东西，却对人体起着至关重要的作用。人类一天的作息都与灯光关系密切，亮光下人会受到更多刺激从而清醒，但不一定长期清醒是件好事，那怎样的灯光才是适宜的呢？
            </p>
            <a class="btn btn-primary btn-normal btn-round"href="https://v.qq.com/x/page/s05100lc9wl.html" target="_blank" >
              <i class="fa fa-play"> </i>
               观看影片
            </a>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="image img-3"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2 ">
          <div class="image img-4"></div>
        </div>
        <div class="col-md-4 ">
          <div class="description right">
            <h2> 宜人的灯光让人舒适自在 </h2>
            <p>
              灯光的强弱、不同的色温都有着不同的作用，良好的灯光应该随着工作需求而变化；另外，要让大脑保持长时间舒适还少不了空气的帮助，而科学的植物搭配能让大脑吸饱氧气。
            </p>
            <a class="btn btn-primary btn-normal btn-round"href="/products" target="_blank" >
               查看相关商品
            </a>
          </div>
        </div>
      </div>
</div>
