
<div class="container">
<!-- 图片 -->

  <div class="pic-product sp-5 sp-6">
      <% if @product.image.present? %>
        <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
      <% end %>
  </div>
  <!-- <div class="col-md-6">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>
    <div class="pull-right"> -->

<div class="info sp-5 sp-6">

    <div class="intro-text center-block">
      <h3 class="pull-left"><%= @product.title %></h3>
      <br>
      <br>
      <br>
      <br>
      <p class="intro-text-value bg-gray">
        <span class="pl20 pr30">售价</span>：<span class="price f24 fb col-red">￥<%= @product.price %></span>
      </p>
      <br>
      <p class="intro-text-count">
        <span >库存</span>：<span id="quantity"><%= @product.quantity %></span>
      </p>
      <br>

      <p>
        <span >简介</span>：<span class="intro-text-desc"><%= @product.description %></span>
      </p>
      <br>
      <p class="intro-text-service">
        <span style="color:#a91b0c">满99元包邮 七天无理由退货 </span>
      </p>
      <br>
      <br>
      <p class="intro-text-btnWrap">
      <% if @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-normal") %>
      <% else %>
        <span class="btn btn-default btn-normal disable">已销售一空，无法购买</span>
      <% end %>
      </p>
    </div>
  </div>


</div>
